<app-sidebar></app-sidebar>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Lista de clientes</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active">Lista de clientes</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->

                    <div class="card">


                        <div class="card-footer">
                            <button class="btn btn-sm btn-primary" [routerLink]="['/clientes/registro']"><i class="fa-solid fa-user-plus mr-2" ></i>Agregar</button>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">

                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Correo</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of clientes; let indice = index">
                                        <td>{{indice+1}}</td>
                                        <td>{{item.nombres}}</td>
                                        <td>{{item.apellidos}}</td>
                                        <td>{{item.email}}</td>
                                        <td>

                                            <button class="btn btn-sm btn-warning btn-x mr-4" [routerLink]="['/clientes',item._id]"><i class="fa-solid fa-pen-to-square mr-2"></i>Actualizar</button>
                                            <button class="btn btn-sm btn-danger btn-x mr-4" (click)="eliminar(item._id)"><i class="fa-solid fa-trash mr-2"></i>Eliminar</button></td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Correo</th>
                                        <th>Opciones</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<app-footer></app-footer>