<!-- Footer -->
<footer class="cs-footer pt-sm-5 pt-4 bg-dark ">
    <div class="container pt-3 ">
        <div class="row pb-sm-2 ">
            <div class="col-6 col-sm-3 col-lg-2 mb-4 ">
                <h3 class="h6 mb-2 pb-1 text-uppercase text-light ">Informacion</h3>
                <ul class="nav nav-light flex-column ">
                    <li class="nav-item mb-2 ">
                        <a href="# " class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Términos y Condiciones</a>
                    </li>
                    <li class="nav-item mb-2 ">
                        <a href="#  " class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Cambios y Devoluciones</a>
                    </li>
                    <li class="nav-item mb-2 ">
                        <a href="# " class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Ubicacion</a>
                    </li>
                    <li class="nav-item mb-2 ">
                        <a href="# " class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Ayuda</a>
                    </li>
                    <li class="nav-item mb-2 ">
                        <a href="# " class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Escribenos</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-3 col-lg-2 col-xl-3 mb-4 ">
                <h3 class="h6 mb-2 pb-1 text-uppercase text-light pl-xl-6 ">Comprar</h3>
                <ul class="nav nav-light flex-column pl-xl-6 ">
                    <li class="nav-item mb-2 ">
                        <a href="productos.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Recien llegados
                                </a>
                    </li>
                    <li class="nav-item mb-2 ">
                        <a href="productos.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">En tendencia
                                </a>
                    </li>
                    <li class="nav-item mb-2 ">
                        <a href="productos.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Ultimos modelos</a>
                    </li>
                    <li class="nav-item mb-2 ">
                        <a href="productos.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Mas pedidos</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 pb-2 pb-lg-0 mb-4 ">
                <h3 class="h6 mb-2 pb-1 text-uppercase text-light ">Contactenos</h3>
                <ul class="nav nav-light flex-column pb-3 ">
                    <li class="nav-item text-nowrap mb-2 ">
                        <span class="text-light mr-1 ">Telefono:</span>
                        <a href="#" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal ">(51) 935288598</a>
                    </li>
                    <li class="nav-item text-nowrap mb-2 ">
                        <span class="text-light mr-1 ">Email:</span>
                        <a href="# " class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal ">dgalaa03@gmail.com</a>
                    </li>
                </ul>

            </div>
            <div class="col-lg-4 col-xl-3 mb-4 ">
                <h3 class="h6 mb-3 pb-1 text-uppercase text-light ">Siguenos</h3>
                <div class="d-flex flex-wrap flex-sm-nowrap ">
                    <a href="https://www.facebook.com/profile.php?id=61561666408579&mibextid=ZbWKwL " target="_blank" class="social-btn sb-solid sb-light mr-2 " style="color: rgb(255, 255, 255); " onmouseover="this.style.color='blue' ; " onmouseout="this.style.color='white' ; ">
                        <i class="fa-brands fa-facebook-f align-middle "></i>
                    </a>

                    <a href="https://www.instagram.com/dgalatienda/ " target="_blank" class="social-btn sb-solid sb-light mr-2 r2 ">
                        <i class="fa-brands fa-instagram me-1 fs-base align-middle "></i>
                    </a>

                    <a href="https://www.tiktok.com/@dgalagala?_t=8pBBugwxvL3&_r=1 " target="_blank" class="social-btn sb-solid sb-light mr-2 r3 " style="color: rgb(255, 255, 255); " onmouseover="this.style.color='Black' ; " onmouseout="this.style.color='white' ; ">
                        <i class="fa-brands fa-tiktok me-1 fs-base align-middle "></i>
                    </a>

                    <a href="# " class="social-btn sb-solid sb-light mr-2 r4 " style="color: rgb(255, 255, 255); " onmouseover="this.style.color='Black' ; " onmouseout="this.style.color='white' ; ">
                        <i class="fa-brands fa-x-twitter me-1 fs-base align-middle "></i>
                    </a>

                    <a href="# " class="social-btn sb-solid sb-light mr-2 r5 " style="color: rgb(255, 255, 255); " onmouseover="this.style.color='Black' ; " onmouseout="this.style.color='white' ; ">
                        <i class="fa-brands fa-threads me-1 fs-base align-middle "></i>
                    </a>
                    <a href="# " class="social-btn sb-solid sb-light mr-2 r6 " style="color: rgb(255, 255, 255); margin-bottom: 40px;" onmouseover="this.style.color='red' ; " onmouseout="this.style.color='white' ; ">
                        <i class="fa-brands fa-youtube me-1 fs-base align-middle "></i>
                    </a>
                </div>
                <a href="#" class="mb-3 mr-3 " role="button ">
                    <img src="assets/imggala/snf1.png" alt="Dgala Logo" width="130">
                </a>
            </div>
        </div>
    </div>

    <div class="border-top border-light ">
        <div class="container py-4 ">
            <div class="font-size-xs text-light ">
                <span class="font-size-sm ">&copy; </span> Todos los derechos reservados
                <i class="cxi-heart mt-n1 mx-1 font-size-base text-primary align-middle "></i>
                <a href="#" class="text-light " rel="noopener noreferrer ">Dgala
                        </a>
            </div>
        </div>
    </div>
</footer>