<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1">Iniciar Sesión</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Ingresa tu correo y contraseña</p>

                <div *ngIf="user.loginError" class="alert alert-danger">
                    {{ user.loginError }}
                </div>

                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email" required #emailField="ngModel">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
                        El correo es obligatorio y debe ser válido.
                    </small>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Password" required minlength="6" #passwordField="ngModel">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)">
                        La contraseña es obligatoria y debe tener al menos 6 caracteres.
                    </small>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>